<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>717527430183-1433uioouhgl6hpjm5l8ojd3lls06po1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.717527430183-1433uioouhgl6hpjm5l8ojd3lls06po1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>717527430183-bfn0ad50voi0flhv2mdt6hj7s31a252j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCMzPiUewJyZJvpFNUaJaC7qofcWKV06uA</string>
	<key>GCM_SENDER_ID</key>
	<string>717527430183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nudge1</string>
	<key>PROJECT_ID</key>
	<string>nudge-5a8d0</string>
	<key>STORAGE_BUCKET</key>
	<string>nudge-5a8d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:717527430183:ios:9cbadb0cd930e2bcccca02</string>
	<key>DATABASE_URL</key>
	<string>https://nudge-5a8d0-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>
